<!DOCTYPE html>.
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Try</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <h1> Bienvenidos/as</h1>
    <h2> ¡Hola! ¿Como estan? Bienvenidos a mi primer webpage</h2>
    <h3> <em> Me llamo Ornella Demichelis Gomez</em> </h3>
    <h4> Mini Bio:</h4>
    <p> Naci en Argentina, tengo 24 años y soy una interprete de <strong>ingles/español</strong>, me gustan mucho los
        video juegos siempre quise poder participar en la creacion de uno o hasta hacer uno propio.</p>
</body>
</html>