<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTN</title>
</head>
<body>
    <section>
    <H1>Bienvenidos/as</H1>    
    <nav>
        <ul>
            <li>><a href="index.html"> 
                HOME </a> </li>
            <li> <a href="personajes.html">
                PERSONAJES </a></li>
            <li> <a href="#"></a> 
                CONTACTO </li>
            <li> <a href="#"> 
                NOSOTROS</a> </li>
        </ul>
    </nav>
<h2> Listas</h2>
<h3> Listas numeradas</h3>
<ol>
    <li> Paso 1 </li> 
    <li> Paso 2 </li>
    <li> Paso 3 </li>
    <li> Paso 4 </li>
</ol>
<h3> Lista conn viñeta </h3>
   <ul> 
    <li> Home </li>
    <li> Personajes </li>
    <li> Contactos </li>
    <li> Nosotros </li>
   </ul>
</section>
<div> 
<p> Hola como estas <em> etiqueta em  - en linea </em>  <strong> etiqueta strong </strong> <b> etiqueta b </b> <span>aksfasdfjakfjkajkfa</span>
</p>
</div>
</body>
</html>