<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Listados </h1>
    <h2> Lista de nombres </h2>
    <nav>
        <ul>
            <li> Felicity </li>
            <li> Theo </li>
            <li> Perseo </li>
            <li> Nikki </li>
            <li> Oliver </li>
        </ul>
    </nav>

    <h3>Paso a paso para preparar un mate</h3>
    <h4> Paso: </h4>
    <ol>
        <li> Calentar el agua y luego verter en el termo </li> 
        <li> Agregar yerba en el mate </li>
        <li> Tapar el mate con la mano para sacudir y dejar un espacio y servir el agua tibia</li>
        <li> Introducir la bombilla en el espacio</li>
        <li> Tomar y disfrutar</li>
    </ol>
</body>
</html>