<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes</title>
</head>
<body>
   <h1> Personajes</h1>
   <h2> Team 7 </h2>
   <img src="./Imagenes/team 7.jpg" alt="Equipo 7">

   <h2> Kakashi </h2>
   <img src="./Imagenes/kakashi.jpg" alt="Kakashi">

   <h3> Naruto & Sasuke VS Momoshiki</h3>
   <iframe width="560" height="315" 
   src="https://www.youtube.com/embed/RzClCJFpSoM?si=-0tafEUUuG-SrjiS" 
   title="YouTube video player" 
   frameborder="0" 
   allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
   allowfullscreen></iframe>
</body>
</html>